.my_bg span {
    font-size: 32px;
    margin-bottom: 10px; /* Adjusted spacing between spans */
}

.my_bg span[size="72"] {
    font-size: 72px;
    font-weight: 900; /* Added font-weight property for bold text */
}

.percentageOff{
    margin-top: 120px ;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    color: #F00;
}

.Ourholidays{
    margin-top: 48px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AllCat{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    
}
.Happy {
    margin-top: 48px;
    text-align: center; /* Center the content horizontally */
}

.Happy img {
    display: block;
    margin: 0 auto; /* Center the image within its container */
    border-radius: 8px; /* Add border-radius if needed */
}

.Background2 {
    position: relative;
    border-radius: 16px;
    display: block;
    margin: 120px auto;
    width: 1320px;
    height: 600px;
    text-align: center;
    color: #fff;
    
}

.image1::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}

.image1 img {
    display: block;
    margin: 0 auto;
    border-radius: 16px;
    z-index: 1; /* Ensure the image is above the pseudo-element */

}

.Background2 {
    position: relative;
    top: 0;
    left: 0;
  }
  
.image1 {
    position: relative;
    top: 0;
    left: 0;
    
  }
  
.image2 {
    position: absolute;
    top: 70px;
    left: 70%;
  }

.top-left {
    text-align: left;
    position: absolute;
    top: 126px;
    left: 126px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;  
}

.bottom-left {
    text-align: left;
    position: absolute;
    bottom: 214px;
    left: 126px;
    right:497px;
    top:326px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
  }
  .bottom-left2 {
    position: absolute;
    bottom: 142px;
    left: 158px;
    right:1059px;
    top:434px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
